body { margin: 0; padding: 0; font-family: "Arial"; }

#panel { background: #111; padding: 20px; color: #fff; overflow: hidden; }
#channel-setting { display: block; text-align: center; font-size: 3em; }
#volume-setting { list-style-type: none; width: 75px; margin: 0 auto; padding: 0; }
#volume-setting li { float: left; color: #666; width: 5px; padding: 0; margin: 0; }

h2 { color: #222; font-size: 1em; }

#volume { overflow: hidden; position: relative; background: #eee; padding: 20px; border-bottom: 1px solid #aaa; }
#volume > button { width: 49%; padding: 10px; margin: 0; cursor: pointer; 
    background: #333; color: #fff; border: 0; font-size: 2em;
    border-radius: 10px;
}
#volume > button:first-child { float: left; }
#volume > button:last-child { float: right; }

#seek { overflow: hidden; position: relative; background: #ddd; padding: 20px; border-bottom: 1px solid #aaa; }
#seek > button { width: 49%; padding: 10px 0; margin: 0; cursor: pointer;
    background: #333; color: #fff; border: 0; font-size: 2em;
    border-radius: 10px;
}
#seek > button:first-child { float: left; }
#seek > button:last-child { float: right; }
