<!doctype html>
<html>
<head>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="user-scalable=0, initial-scale=1.0">
<meta name="apple-mobile-web-app-title" content="Home Stereo">
<link rel="apple-touch-icon" href="/static/images/icon.png">
<link rel="stylesheet" type="text/css" href="/static/css/screen.css" />
<script type="text/javascript" src="/static/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="/static/js/radio.js"></script>
</head>
<body>
    <div id="panel">
        <span id="channel-setting"></span>
        <span id="volume-setting"></span>
    </div>
    <h2>Volume</h2>
    <div id="volume">
        <button id="volume-down">-</button>
        <button id="volume-up">+</button>
    </div>
    <h2>Station</h2>
    <div id="seek">
        <button id="seek-left">&laquo;</button>
        <button id="seek-right">&raquo;</button>
    </div>
</body>
</html>
